.chargesListView(ng-controller="charges.chargesListViewCtrl")
    .row
        .span12
            ul
                li(ng-repeat="file in files")
                    pre {{file}}
    .row
        .span12
            h1 Charges
            table.table.table-condensed
                thead
                    tr
                        th.week Semaine
                        th(ng-repeat="charge in chargesItems") {{charge}}
                        th.total Total
                tbody
                    tr(ng-repeat="week in weeks")
                        td.week {{week.week|date}}
                        td.currency(ng-repeat="charge in chargesItems")
                            {{week.charges[charge]|currency}}
                        td.currency.total
                            {{getTotalOfCharge(week)|currency}} 
            .btn-group
                a.btn(href="#charges/edit")
                    i.icon-edit
                    span  Modifier