#navbar(ng-controller="navbar.navbarCtrl")
    .navbar.navbar-inverse.navbar-fixed-top(ng-show="isConnected()")
        .navbar-inner
            .container
                a.brand Paul Compta
                ul.nav
                    li(ng-class="{active:location == '/charges'}")
                        a(href="#/charges") Charges
                        
                    li(ng-class="{active:location == '/sales'}")
                        a(href="#/sales") Chiffre d'affaires

                    li(ng-class="{active:location == '/payments'}")
                        a(href="#/payments") Paiements

                    li(ng-class="{active:location == '/profits'}")
                        a(href="#/profits") Bénéfices
                ul.nav.pull-right
                    li
                        a(ng-click="save()", href="")
                            span Save 
                            i.icon-refresh.icon-white
                    li
                        a(ng-click='deconnect()', href="#") se déconnecter
                        
                