div(ng-controller="login.loginViewCtrl")
    .row
        .span4.offset4.well
            legend Paul Compta
                a.btn.btn-info.btn-block(href="{{authUrl}}") se connecter avec google drive