.chargesListView(ng-controller="sales.paymentsListEditViewCtrl")
    .row
        .span12
            #toolbar
                h1 Modification des paiements
                .btn-group
                    a.btn(href="#/payments")
                        i.icon-arrow-left

            table.table.table-condensed.sales
                thead
                    tr
                        th.week Semaine
                        th Chèques
                        th Espèces
                        th Tickets Resto
                        th.total Total
                tbody
                    tr(ng-repeat="(index, week) in weeks")
                        td.week {{week.week|date}}
                        td.currency(ng-repeat="mode in ['cheque', 'cash', 'ticket']")
                            input.input-mini.secondary(type="number", ng-model="week.modalities[mode]")
                        td.currency.total {{total(week)|currency}}
                tfoot
                    tr
                        th.week Semaine
                        th Chèques
                        th Espèces
                        th Tickets Resto
                        th.total Total
                    tr
                        th(colspan="4")
                        th.total.currency {{totalAll|currency}}

                    
                    