.chargesListView(ng-controller="sales.salesListEditViewCtrl")
    .row
        .span12
            ul.nav.nav-tabs
                li(ng-repeat="year in years", ng-class="{active: year == selectedYear}")
                    a(ng-click="changeYear(year)") {{year}}
                li(ng-class="{active: selectedYear == null}")
                    a(ng-click="changeYear(null)") Tout

            #toolbar
                h1 Modification du chiffre d'affaire
                .btn-group
                    a.btn(href="#/sales")
                        i.icon-arrow-left

            table.table.table-condensed.sales
                thead
                    tr
                        th.week Semaine
                        th Lundi
                        th Mardi
                        th Mercredi
                        th Jeudi
                        th Vendredi
                        th Samedi
                        th Dimanche
                        th.total Total
                tbody
                    tr(ng-repeat="(index, week) in weeksFiltered")
                        td.week {{week.week|date}}
                        td.currency(ng-repeat="day in [0, 1, 2, 3, 4, 5, 6]")
                            input.input-mini(type="number", ng-model="week.sales[day]")
                        td.currency.total {{total(week)|currency}}
                tfoot
                    tr
                        th.week Semaine
                        th Lundi
                        th Mardi
                        th Mercredi
                        th Jeudi
                        th Vendredi
                        th Samedi
                        th Dimanche
                        th.total Total
                    tr
                        th(colspan="8")
                        th.total.currency {{totalAll|currency}}

                    
                    