.chargesListView(ng-controller="sales.salesListViewCtrl")
    .row
        .span12
            #toolbar
                h1 Chiffres d'affaires
                .btn-group
                    a.btn(href="#/sales/edit")
                        i.icon-edit
                        span  Modifier
            table.table.table-condensed.sales
                thead
                    tr
                        th.week Semaine
                        th Lundi
                        th Mardi
                        th Mercredi
                        th Jeudi
                        th Vendredi
                        th Samedi
                        th Dimanche
                        th.total Total
                tbody
                    tr(ng-repeat="week in weeks")
                        td.week {{week.week|date}}
                        td.currency(ng-repeat="saleDay in week.sales") {{saleDay|nullToUndefined|currency}}
                        td.currency.total {{total(week)|currency}}
                tfoot
                    tr
                        th.week Semaine
                        th Lundi
                        th Mardi
                        th Mercredi
                        th Jeudi
                        th Vendredi
                        th Samedi
                        th Dimanche
                        th.total Total
                    tr
                        th Médiane
                        th(ng-repeat="day in [0, 1, 2, 3, 4, 5, 6]")
                            {{median(day)|currency}}
                        th.total.currency {{totalAll|currency}}
                    tr
                        th Moyenne
                        th(ng-repeat="day in [0, 1, 2, 3, 4, 5, 6]")
                            {{mean(day)|currency}}
                        th.total.currency {{totalAll|currency}}

                    
                    