#navbar(ng-controller="navbar.navbarCtrl")
   .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
         a.brand Paul Compta
         ul.nav
            li
               a(href="#charges") Charges
            li
               a Chiffre d'affaires
            li
               a Bénéfices