/* Custom CSS can go here, but since we're using bootstrap, we don't have any */
body {
    /*padding-top: 60px;*/
}

@media (min-width: 979px){
    body {
        padding-top: 60px;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

#app h1 {
    display: inline-block;
}

#app .alert-global {
    position: fixed;
    top: 51px;
    right: 20px;
    z-index: 1;
}

#toolbar .btn-group {
    float: right;
    margin-top: 20px;
}

/* ------------------------------------------------------------------------ */
/* ------ Table ----------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
#app table {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#app table tr th {
    text-align: center;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    box-shadow: inset 1px 0px 1px rgba(0,0,0,0.3);
}

#app table tr th:last-child,
#app table tr td:last-child {
    border-right: black 1px solid;
}

#app table tr:last-child td {
    border-bottom: black 1px solid;
}

#app table tr th:first-child,
#app table tr td:first-child {
    border-left: black 1px solid;
}

#app table tr .currency {
    text-align: right;
}

#app td.edit input {
    margin-bottom: 0px;
}

#app td.edit {
    padding: 0px;
}

#app td.week {
    font-weight: bold;
}

#app .row.depenses .control-group {
    width: 170px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

#app .row.depenses .control-group .control-label {
    width: 80px;
}

#app .row.depenses .control-group .controls {
    margin-left: 90px;
}

/* ------ Table - color --------------------------------------------------- */
#app table td[toggle-view]:hover {
    text-decoration: underline;
    cursor: pointer;
}

#app table input {
    margin: 0px;
    padding: 0px;
}

#app table.sales tr th,
#app table.charges tr th,
#app table.profits tr th,
#app table.payments tr th {
    /*color: #0000FF;
    background-color: #FF9900;*/
    color: #000000;
    background-color: #D92344;
}

#app table.sales tr td {
    color: #0000AA;
    background-color: #9CCDFF;
    border: white 1px solid;
}

#app table.sales tr td.total {
    color: #0000FF;
    font-weight: bold;
}

#app table.payments tr td {
    color: #B22C30;
    background-color: #FFCE68;
    border: white 1px solid;
}

#app table.payments tr td.total {
    color: #402A23;
    font-weight: bold;
}

#app table.charges tr td {
    color: #0000AA;
    background-color: #F9CB9C;
    border: white 1px solid;
}

#app table.charges tr td.total {
    color: #0000FF;
    font-weight: bold;
}

#app table.profits tr td {
    color: #F24822;
    background-color: #F2C7AE;
    border: #D9A679 1px solid;
}

#app table.profits tr td.total {
    color: #0000FF;
    font-weight: bold;
}