/* Custom CSS can go here, but since we're using bootstrap, we don't have any */
body {
    /*padding-top: 60px;*/
}

@media (min-width: 979px){
    body {
        padding-top: 60px;
    }
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}

#app h1 {
    display: inline-block;
}

#app .alert-global {
    position: fixed;
    top: 51px;
    right: 20px;
    z-index: 1;
}

#toolbar .btn-group {
    float: right;
    margin-top: 20px;
}

#app table {
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
}

#app table tr th {
    background-color: #9FBE80;
    color: #274E13;
    text-align: center;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    box-shadow: inset 1px 0px 1px rgba(0,0,0,0.3);
}

#app table tr th:last-child,
#app table tr td:last-child {
    border-right: black 1px solid;
}

#app table tr:last-child td {
    border-bottom: black 1px solid;
}

#app table tr th:first-child,
#app table tr td:first-child {
    border-left: black 1px solid;
}

#app table tr td {
    background-color: #D9EAD3;
    border: white 1px solid;
}

#app table tr .currency {
    text-align: right;
}

#app td.edit input {
    margin-bottom: 0px;
}

#app td.edit {
    padding: 0px;
}

#app td.week {
    font-weight: bold;
}

#app .row.depenses .control-group {
    width: 170px;
    float: left;
    min-height: 1px;
    margin-left: 30px;
}

#app .row.depenses .control-group .control-label {
    width: 80px;
}

#app .row.depenses .control-group .controls {
    margin-left: 90px;
}