.chargesListView(ng-controller="charges.chargesListViewCtrl")
    .row
        .span12
            #toolbar
                h1 Charges
                .btn-group
                    a.btn(href="#/charges/edit")
                        i.icon-edit
                        span  Modifier

            table.table.table-condensed.charges
                thead
                    tr
                        th.week Semaine
                        th(ng-repeat="charge in chargesItems") {{charge}}
                        th.total Total
                tbody
                    tr(ng-repeat="week in weeks")
                        td.week {{week.week|date}}
                        td.currency(ng-repeat="charge in chargesItems", toggle-view)
                            {{week.charges[charge]|currency}}
                            input.secondary.input-mini(type="number", ng-model="week.charges[charge]")
                        td.currency.total
                            {{getTotalOfCharge(week)|currency}}
                tfoot
                    tr
                        th.week Semaine
                        th(ng-repeat="charge in chargesItems") {{charge}}
                        th.total Total
                    tr
                        th(colspan="{{1 + chargesItems.length}}")
                        th.total.currency() {{totalAll()|currency}}