.chargesListView(ng-controller="charges.chargesListEditViewCtrl")
    .row
        .span12
            h1 Modifications des charges
            table.table.table-condensed
                thead
                    tr
                        th.action
                        th.week Semaine
                        th(ng-repeat="charge in chargesItems") {{charge}}
                        th.total Total
                tbody
                    tr(ng-repeat="(index, week) in weeks")
                        td.action
                            button.btn.btn-primary.btn-mini(ng-click="editChargeAtIndex(index)")
                                i.icon-edit.icon-white
                            button.btn.btn-danger.btn-mini(ng-click="removeChargeAtIndex(index)")
                                i.icon-trash.icon-white
                        td.week {{week.week|date}}
                        td.currency.edit(ng-repeat="charge in chargesItems")
                            input.input-mini(type="number", ng-model="week.charges[charge]")
                        td.currency.total
                            {{getTotalOfCharge(week)|currency}}
                tfoot
                    tr
                        th.action
                        th.week Semaine
                        th(ng-repeat="charge in chargesItems") {{charge}}
                        th.total Total
            .btn-group
                a.btn(href="#charges")
                    i.icon-arrow-left
                button.btn(ng-click="addCharge()")
                    i.icon-plus
                    span Ajouter une ligne
