.chargesListView(ng-controller="charges.chargeEditViewCtrl")
    h1(ng-show="isNew") Nouvelles dépenses
    h1(ng-hide="isNew") Modifiers les dépenses
    form.form-horizontal(name="form", novalidate)
        .control-group
            label.control-label Semaine
            .controls
                input(type="date", ng-model="week.week", required)
        legend
            span Dépenses - Total:
            strong  {{getTotal()|currency}}
            button.btn.btn-mini(ng-click="addChargeItem()")
                i.icon-plus-sign

        .row.depenses
            .control-group(ng-repeat="charge in chargesItems")
                label.control-label {{charge}}
                .controls
                    input.input-mini(type="number", ng-model="week.charges[charge]")

        .form-actions
            button.btn.btn-danger(ng-click="cancel()") Annuler
            button.btn.btn-primary(ng-disabled="form.$invalid", ng-click="save()") Enregistrer